<div id = "app">
    <!-- <h2>{{product}} are in stock,</h2> -->
    <ul>
        <li  v-for="product in products"> 
          {{ product }} 
        </li>
    </ul>
    <!-- <ul>
        <li  v-for="gato en gatos"> 
          {{ gato }} 
        </li>
    </ul> -->
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    const app = new Vue ({
        el: '#app',
        data:{
                products: [
                    'socks',
                    'miasdsadlk',
                    'cookies'
                 ],
                //  gatos:[
                //      'perros',
                //      'santos',
                //      'diablos'
                //  ]
        },
        created(){
            fetch('https://v4av99nqi0.execute-api.us-west-2.amazonaws.com/dev/todolistchris')
            .then(response=> response.json())
            .then(json => {
                this.products = json
                console.log()

            } )
        }
    })
</script>